In [2]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [4]:
df_rev = pd.read_csv('ba_reviews_raw.csv')
df_ct = pd.read_csv('Countries.csv')

In [5]:
df_rev.head(10)

,header,author,date,place,content,aircraft,traveller_type,seat_type,route,date_flown,recommended,trip_verified,rating,seat_comfort,cabin_staff_service,food_beverages,ground_service,value_for_money,entertainment
0,service was mediocre at best,Gary Storer,03/10/2023,United Kingdom,"Just returned from Chicago, flew out 10 days ...",A380,Couple Leisure,Economy Class,Chicago to Manchester via Heathrow,01/10/2023,no,Not Verified,2,2,3,1,2,2,-1
1,BA standards continue to decline,A Jensen,02/10/2023,United Kingdom,BA standards continue to decline every time ...,A320,Business,Business Class,London Heathrow to Munich,01/09/2023,no,Verified,2,2,1,2,1,1,-1
2,"won the race to the bottom""",John Rockett,02/10/2023,United Kingdom,Awful. Business class check in queue just as...,A320,Couple Leisure,Business Class,Heathrow to Istanbul,01/09/2023,no,Not Verified,2,2,3,2,1,1,-1
3,Not a reliable airline,Tatiana Bobrovskaya,02/10/2023,United Kingdom,Not a reliable airline. You cannot trust the...,A320,Business,Economy Class,London to Geneva,01/10/2023,no,Verified,3,4,4,2,1,1,-1
4,Very disappointed,Tom Slowbe,28/09/2023,United States,"The airplanes and the lounges are worn out, o...",777-300 and A320,Couple Leisure,First Class,Dallas to Dubrovnik via Heathrow,01/09/2023,no,Verified,1,1,4,4,3,2,3
5,the service was shockingly bad,E Anderson,28/09/2023,United Kingdom,One of the worst experiences on the worst air...,A321,Business,Business Class,London to Seville,01/09/2023,no,Verified,3,2,1,1,1,1,-1
6,not a single feedback from British Airways,Selcuk Benter,20/09/2023,Germany,My initial flight was cancelled 8 hours prio...,A350,Business,Premium Economy,Hamburg to Las Vegas via London,01/08/2023,no,Not Verified,4,2,2,2,1,1,3
7,Club Europe doesnâ€™t feel very premium,41 reviews,18/09/2023,United Kingdom,Check in and security clearance very quick at...,A320,Couple Leisure,Business Class,London Heathrow to Porto,01/09/2023,yes,Verified,1,3,4,3,4,4,-1
8,service on board was impeccable,Peter Costello,11/09/2023,United Kingdom,Despite boarding being the usual free for all...,Boeing 787,Couple Leisure,Business Class,London to Santiago,01/09/2023,yes,Verified,1,3,5,4,2,5,-1
9,a national disgrace,Brent Davies,10/09/2023,United Kingdom,"Flight cancelled, no crew! 9th September 202...",A320,Couple Leisure,Business Class,London Heathrow to Faro,01/09/2023,no,Not Verified,1,-1,-1,-1,1,1,-1

## Data to be cleaned:
* Non-response ratings recorded as -1

We can see that the data recorded -1 for any cases where customers chose not to give a rating, or for flights that didn't provide services like in-flight food or entertainment. These false responses need to be removed, because they drag down the average overall and category ratings.

* Overall ratings are scaled differently to category ratings

The overall ratings have a range of 1-10, whereas the subcategory ratings have a range of 1-5. This is supported by how the overall rating values are frequently higher than the averages of the subcategorical ratings.

In [6]:
df_rev = df_rev.replace(-1, np.nan)
df_rev.head(10)

,header,author,date,place,content,aircraft,traveller_type,seat_type,route,date_flown,recommended,trip_verified,rating,seat_comfort,cabin_staff_service,food_beverages,ground_service,value_for_money,entertainment
0,service was mediocre at best,Gary Storer,03/10/2023,United Kingdom,"Just returned from Chicago, flew out 10 days ...",A380,Couple Leisure,Economy Class,Chicago to Manchester via Heathrow,01/10/2023,no,Not Verified,2,2.0,3.0,1.0,2.0,2,NaN
1,BA standards continue to decline,A Jensen,02/10/2023,United Kingdom,BA standards continue to decline every time ...,A320,Business,Business Class,London Heathrow to Munich,01/09/2023,no,Verified,2,2.0,1.0,2.0,1.0,1,NaN
2,"won the race to the bottom""",John Rockett,02/10/2023,United Kingdom,Awful. Business class check in queue just as...,A320,Couple Leisure,Business Class,Heathrow to Istanbul,01/09/2023,no,Not Verified,2,2.0,3.0,2.0,1.0,1,NaN
3,Not a reliable airline,Tatiana Bobrovskaya,02/10/2023,United Kingdom,Not a reliable airline. You cannot trust the...,A320,Business,Economy Class,London to Geneva,01/10/2023,no,Verified,3,4.0,4.0,2.0,1.0,1,NaN
4,Very disappointed,Tom Slowbe,28/09/2023,United States,"The airplanes and the lounges are worn out, o...",777-300 and A320,Couple Leisure,First Class,Dallas to Dubrovnik via Heathrow,01/09/2023,no,Verified,1,1.0,4.0,4.0,3.0,2,3.0
5,the service was shockingly bad,E Anderson,28/09/2023,United Kingdom,One of the worst experiences on the worst air...,A321,Business,Business Class,London to Seville,01/09/2023,no,Verified,3,2.0,1.0,1.0,1.0,1,NaN
6,not a single feedback from British Airways,Selcuk Benter,20/09/2023,Germany,My initial flight was cancelled 8 hours prio...,A350,Business,Premium Economy,Hamburg to Las Vegas via London,01/08/2023,no,Not Verified,4,2.0,2.0,2.0,1.0,1,3.0
7,Club Europe doesnâ€™t feel very premium,41 reviews,18/09/2023,United Kingdom,Check in and security clearance very quick at...,A320,Couple Leisure,Business Class,London Heathrow to Porto,01/09/2023,yes,Verified,1,3.0,4.0,3.0,4.0,4,NaN
8,service on board was impeccable,Peter Costello,11/09/2023,United Kingdom,Despite boarding being the usual free for all...,Boeing 787,Couple Leisure,Business Class,London to Santiago,01/09/2023,yes,Verified,1,3.0,5.0,4.0,2.0,5,NaN
9,a national disgrace,Brent Davies,10/09/2023,United Kingdom,"Flight cancelled, no crew! 9th September 202...",A320,Couple Leisure,Business Class,London Heathrow to Faro,01/09/2023,no,Not Verified,1,NaN,NaN,NaN,1.0,1,NaN

In [8]:
df_rev.loc[:, 'rating'] /= 2
df_rev.head()

,header,author,date,place,content,aircraft,traveller_type,seat_type,route,date_flown,recommended,trip_verified,rating,seat_comfort,cabin_staff_service,food_beverages,ground_service,value_for_money,entertainment
0,service was mediocre at best,Gary Storer,03/10/2023,United Kingdom,"Just returned from Chicago, flew out 10 days ...",A380,Couple Leisure,Economy Class,Chicago to Manchester via Heathrow,01/10/2023,no,Not Verified,0.50,2.0,3.0,1.0,2.0,2,NaN
1,BA standards continue to decline,A Jensen,02/10/2023,United Kingdom,BA standards continue to decline every time ...,A320,Business,Business Class,London Heathrow to Munich,01/09/2023,no,Verified,0.50,2.0,1.0,2.0,1.0,1,NaN
2,"won the race to the bottom""",John Rockett,02/10/2023,United Kingdom,Awful. Business class check in queue just as...,A320,Couple Leisure,Business Class,Heathrow to Istanbul,01/09/2023,no,Not Verified,0.50,2.0,3.0,2.0,1.0,1,NaN
3,Not a reliable airline,Tatiana Bobrovskaya,02/10/2023,United Kingdom,Not a reliable airline. You cannot trust the...,A320,Business,Economy Class,London to Geneva,01/10/2023,no,Verified,0.75,4.0,4.0,2.0,1.0,1,NaN
4,Very disappointed,Tom Slowbe,28/09/2023,United States,"The airplanes and the lounges are worn out, o...",777-300 and A320,Couple Leisure,First Class,Dallas to Dubrovnik via Heathrow,01/09/2023,no,Verified,0.25,1.0,4.0,4.0,3.0,2,3.0

In [9]:
df_rev.describe()

,rating,seat_comfort,cabin_staff_service,food_beverages,ground_service,value_for_money,entertainment
count,1324.000000,1313.000000,1313.000000,1224.00000,1320.000000,1324.000000,867.000000
mean,1.047205,2.902513,3.316070,2.65768,3.043939,2.777946,2.719723
std,0.813331,1.345589,1.475364,1.45175,1.390276,1.409587,1.390704
min,0.250000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000
25%,0.250000,2.000000,2.000000,1.00000,2.000000,1.000000,1.000000
50%,0.750000,3.000000,4.000000,3.00000,3.000000,3.000000,3.000000
75%,1.750000,4.000000,5.000000,4.00000,4.000000,4.000000,4.000000
max,2.500000,5.000000,5.000000,5.00000,5.000000,5.000000,5.000000

## Quick glance insights:

* In-flight food/beverages and Entertainment are offered in a significantly fewer number of flights, affecting the average British Airways customer less

* Cabin Staff Service and Ground Service have the highest average ratings

* Food/beverages and Entertainment have the lowest average ratings

* The 50% rating percentiles shows that Value-for-Money, Food/beverages, and Entertainment were the worst parts of the flight for many customers

In [38]:
df_rev.to_csv('ba_reviews_cleaned1.csv', index=False)